@import "/styleVariables.scss";

.cnpj__container{
    background-color: $color-terciary;
    margin-top: 10px;
    padding: 10px;
    height: 100%;
}

.cnpj__titulo{
    color: $color-text;
    font-family: $font-subtitle;
    background-color: $color-contrast;
    font-size: $font-size-title;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
}

.cnpj__display{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: $color-terciary;
    margin-top: 10px;
    padding: 10px;
    height: 100%;
}