@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*
$color-primary: #497174;
$color-secondary: #D6E4E5;
$color-terciary: #EFF5F5;
$color-contrast: #EB6440;
$color-border-light: #c0bcbc;
$color-border-dark: #4a4a4a;
$color-text: #4a4a4a;
$color-text-secondary: $color-terciary;
$color-error: #FBB7CB;
$color-warning: #FBD160;
$color-inform: #50DEBC;
*/

//BOA POSSIBILIDADE

$color-primary: #333652;
$color-secondary: #90adc6;
$color-terciary: #e9eaec;
$color-light: #f3f3f5;
$color-contrast: #e2bd28;


$color-border-light: #c0bcbc;
$color-border-dark: #4a4a4a;
$color-text: #4a4a4a;
$color-text-secondary: $color-terciary;
$color-background-other: white;
$color-error: #FBB7CB;
$color-warning: #FBD160;
$color-inform: #50DEBC;

$font-title: 'Open Sans', sans-serif;
$font-subtitle: 'Open Sans', sans-serif;
$font-text: 'Varela Round', sans-serif;

$font-size-title: 18px;
$font-size-label: 14px;
$font-size-textField: 12px;
$font-size-input: 12px;
$font-size-btn-primary: 12px;
$font-size-btn-secondary: 12px;
$font-size-btn-other: 10px;
