@import "/styleVariables.scss";

.container{
    background-color: $color-terciary;
    margin-top: 10px;
    padding: 10px;
    height: 100%;
}

.titulo{
    color: $color-text;
    font-family: $font-subtitle;
    background-color: $color-contrast;
    font-size: $font-size-title;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
}

.display{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: $color-terciary;
    margin-top: 10px;
    padding: 10px;
    height: 100%;
}

.errorDisplay{
    height: 40px;
    line-height: 40px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: $color-text;
    font-size: $font-size-label;
    background-color: $color-error;
}

.showMore{
    font-weight: 600;
    font-size: $font-size-btn-primary;
    color: $color-primary;
    border: 1px solid $color-primary;
    padding: 4px;
    min-width: 50px;
    background-color: white;
    &:hover{
        background-color: $color-primary;
        color: $color-text-secondary;
    }
}