@import "/styleVariables.scss";

.menu__container{
    background-color: $color-terciary;
    height: 180px;
}

.menu__header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.menu__logo {
    height: 85px;
    width: 85px;
    min-height: 50px;
    min-width: 50px;
    margin: 5px;
}

.menu__titulo {
    font-size: 36px;
    font-weight: 800;
    color: $color-primary;
    font-family: $font-title;
    margin: 5px;
}

.menu__nav{
    background-color: $color-primary;
    display: flex;
    align-items: center;
}

.menu__item {
    background-color: $color-primary;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: $color-text-secondary;
    line-height: 30px;
    height: 30px;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    &:hover{
        background-color: $color-secondary;
        color: $color-primary;
    }
    &:active{
        background-color: $color-contrast;
        color: $color-text-secondary;
    }
}
