@import "/styleVariables.scss";

.bank__container{
    background-color: $color-terciary;
    margin-top: 10px;
    padding: 10px;
    height: 100%;
}

.bank__titulo{
    color: $color-text;
    font-family: $font-subtitle;
    background-color: $color-contrast;
    font-size: $font-size-title;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
}

.bank__display{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: flex-start;
    gap: 10px;
    background-color: $color-terciary;
    margin-top: 10px;
    padding: 10px;
    height: 100%;
}

.errorDisplay{
    height: 40px;
    line-height: 40px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: $color-text;
    font-size: $font-size-label;
    background-color: $color-error;
}