@import "/styleVariables.scss";

.bank__container{
    background-color: $color-terciary;
    margin-top: 10px;
    padding: 10px;
    height: 100%;
}

.bank__titulo{
    color: $color-text-secondary;
    font-family: $font-subtitle;
    background-color: $color-contrast;
    font-size: 24px;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
}

.bank__form{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px;
    gap: 5px;
    label{
        font-size: 16px;
        font-weight: 600;
        color: $color-text;
        margin-right: 10px;
    }
    &__searchElement{
        width: 420px;
        position: relative;
        input{
            width: 415px;
            height: 30px;
            padding: 5px;
            font-size: 18px;
            outline: none;
            color: $color-text;
            border: 1px solid $color-border-light;
            &:hover{
                border-color: $color-primary;
            }
            &:focus{
                border-color: $color-contrast;
            }
        }
        &__select{
            position: absolute;
            width: 415px;
            border: 1px solid $color-border-light;
            padding: 5px;
            overflow-y: auto;
            max-height: 300px;
            background-color: white;
            &__hidden{
                display: none;
            }
            p{
                color: $color-text;
                font-weight: 500;
                font-size: 14px;
                line-height: 30px;
                height: 30px;
                margin: 0;
                overflow: hidden;
                &:hover{
                    background-color: $color-secondary;
                }
            }
                
        }

    }
    button{
        all: unset;
        cursor: pointer;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-text-secondary;
        background-color: $color-primary;
        text-align: center;
        font-size: 16px;
        padding: 5px;
        height: 30px;
        border: 1px solid $color-primary;
        //margin-left: 5px;
        &:hover{
            background-color: $color-secondary;
            color: $color-primary;
            border-color: $color-primary;
        }
        &:active{
            background-color: $color-contrast;
            color: $color-text-secondary;
            border-color: $color-contrast;
        }
    }
}

.bank__display{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: $color-terciary;
    margin-top: 10px;
    padding: 10px;
    height: 100%;
}